.collapsibleList li{
  list-style-image:url('button.png');
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('../pix/pfeil_hide.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('../pix/pfeil_show.png');
  cursor:pointer;
}