.deactivated {
	color: black;
}
select[name=lis_subjects] {
	margin-right: 15px;
}

#block_exacomp .crosssubjects {
	vertical-align: middle;
	text-align: center;
	bottom: 0;
	display: inline-block;
	width:100%
}

#block_exacomp .tablecell {
	position: relative;
}

#block_exacomp .reportsstattable {
	margin-bottom: 5px;
}


#block_exacomp  .crosssubjects .reportsstattable tr td {
	line-height: 1.2;
}

