#block_exacomp .tooltip {
	position: absolute;
	text-align: center;
	width: 40px;
	height: auto;
	padding: 10px;
	background-color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}
#block_exacomp .tooltip.hidden {
	display: none;
}
#block_exacomp .tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}
#block_exacomp  div.content_div{
	margin-bottom: 40px;
}

#block_exacomp .compprof_barchart {
	display: inline;
	width: 40%;
}

#block_exacomp .compprof_barchart span {
	font-weight: bold;
}

#block_exacomp .compprof_barchart_legend {
	display: inline;
}

#block_exacomp .compprof_barchart_legend:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
	margin-bottom: 20px;
}

#block_exacomp .compprof_barchart_teacher {
	margin-right: 10px;
}
