
.exacomp-courseselect-filter {
    border: none;
}

.exacomp-courseselect-filter .cell.no-border {
    border: none !important;
}


#block_exacomp .cell {
    text-align: left;
}

#exabis_competences_block_orgunits {
    margin-top: 25px;
}
