#block_exacomp table.exabis_comp_top, #block_exacomp .exabis_competencies_lis table.exabis_comp_comp, #block_exacomp .exabis_comp_info {
	width: 100%;
	border: 1px solid #E3DFD4;
	border-collapse: collapse;
}

#block_exacomp .exabis_comp_info {
	margin-bottom: 20px;
	background-color: #efefef;
}

#block_exacomp table.exabis_comp_top td {
	width: 50px;
}

#block_exacomp table.exabis_comp_top td, #block_exacomp .exabis_competencies_lis table.exabis_comp_comp td, #block_exacomp .exabis_comp_info td {
	padding: 0.5em;
	border: 1px solid #cacaca;
	border-collapse: collapse;
	vertical-align: top;
}
#block_exacomp .exabis_comp_info input, #block_exacomp .exabis_comp_info select {
	margin: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#block_exacomp .desctitle {
	font-weight: bold;
}

#block_exacomp .desctitlegrey{
	font-weight: bold;
	color: #666666;
}

#block_exacomp table.exabis_comp_comp {
	font-size: 0.85em;
}

#block_exacomp .exabis_competencies_lis .exabis_comp_aufgabe {
	font-size: 0.9em;
}

#block_exacomp .exabis_competencies_lis .exabis_comp_aufgabe .aufgabetext {
	margin: 0 0 0 1em;
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_comp tr.highlight {
  background-color: #e6e6e6;
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_comp tr.exabis_comp_aufgabe:nth-child(2n+1) {
  background-color: #f9f9f9;
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_comp thead {
	font-size: ;
}

#block_exacomp .exabis_competencies_lis span.exabis_comp_top_header {
	font-style: italic;
	font-size: 15px;
}

#block_exacomp span.exabis_comp_top_name {
	display: block;
	font-size: 0.84em;
}

#block_exacomp .exabis_competencies_lis div.exabis_comp_top_indentation {
	margin-left: 20px;
} 

#block_exacomp .exabis_competencies_lis div.exabis_comp_top_indentation_nr {
	width: 20px;
	float: left;
}

#block_exacomp .exabis_competencies_lis .spaltenbrowser {
	margin-top: 15px;
	margin-bottom: 5px;
}

#block_exacomp .exabis_competencies_lis img.exabis_comp_teilcomp_pfeil {
	margin-right: 10px
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_top .comp_grey_97 {
	background-color: #f6f6f6;
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_top .comp_grey_90 {
	background-color: #e2e2e2;
}

#block_exacomp .exabis_competencies_lis table.exabis_comp_top .comp_grey_83 {
	background-color: #cfcfcf;
}

#block_exacomp .exabis_competencies_lis .exabis_comp_select select {
	margin-bottom: 20px
}

#block_exacomp .exabis_competencies_lis .exabis_comp_select select {
	margin-right: 20px
}

#block_exacomp .exabis_competencies_lis .exabis_comp_aufgabe input[type="checkbox"], #block_exacomp .exabis_competencies_lis .exabis_comp_teilcomp input[type="checkbox"], #block_exacomp .exabis_competencies_lis .exabis_comp_aufgabe img, #block_exacomp .exabis_competencies_lis .exabis_comp_teilcomp img {
 	margin-right: 4px;
}
#block_exacomp .exabis_competencies_lis .exabis_comp_aufgabe img.exabis_comp_cal, #block_exacomp .exabis_competencies_lis .exabis_comp_teilcomp img.exabis_comp_cal {
 	margin-right: 4px;
 	margin-left: 4px
}

#block_exacomp .exabis_competencies_lis .exabis_comp_top_iconcol {
	min-width: 35px;
}

#block_exacomp .exabis_competencies_lis .exabis_comp_top_studentcol {
	min-width: 40px;
}

#block_exacomp .exabis_competencies_lis .exabis_comp_top_evalcol {
	width: 50px;
}

/*
#block_exacomp .rowgroup-header .rowgroup-arrow {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

#block_exacomp .rowgroup-header .rowgroup-arrow div {
	padding-left: 12px;
	background: url(../pix/pfeil_show.png) 0 6px no-repeat;
}

#block_exacomp .rowgroup-header.open .rowgroup-arrow div {
	background: url(../pix/pfeil_hide.png) 0 6px no-repeat;
}

#block_exacomp .rowgroup-content {
	display: none;
}
*/
#block_exacomp #exabis_competences_block .exabis_comp_top_student{
	text-align: center;
}
#block_exacomp #exabis_competences_block .exabis_comp_student_not{
}
#block_exacomp #exabis_competences_block .exabis_comp_student_assigned{
	background-color: #ACFA58;
}
#block_exacomp #exabis_competences_block .exabis_comp_teacher_assigned{
	background-color: #40FF00;
}
#block_exacomp #exabis_competences_block .exabis_comp_student_started{
	background-color: #F4FA58;
}
#block_exacomp #exabis_competences_block .exabis_assign_student{
	display:none;
}
#block_exacomp div.edit_buttons_float_right {
	float: right;
}
