

.verticalCell {
    text-align: center;
    white-space: nowrap;
    transform: rotate(270deg);
}
.verticalCell span {
    margin: 0 -999px;/* virtually reduce space needed on width to very little */
    display: inline-block;
}
.verticalCell span:before {
    content: '';
    width: 0;
    padding-top: 110%;
    /* takes width as reference, + 10% for faking some extra padding */
    display: inline-block;
    vertical-align: middle;
}
table {
    text-align: center;
}