
#block_exacomp {
	position: relative;
}

#block_exacomp select, #block_exacomp input, #block_exacomp button {
	/* remove standard moodle margins */
	margin: 0;
}

#block_exacomp div#exabis_save_button {
	padding: 10px
}

#exabis_competencies_block  .content .competenceok,
#block_exacomp .competenceok {
	background-color: #02a600 !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
}
#block_exacomp #competenceyellow,
#block_exacomp .competenceyellow {
	background-color: #0075dd !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
	
}
#block_exacomp #lmoB,
#block_exacomp .lmoB {
	background-color: #BBBBBB !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
}

#block_exacomp #lmnE,
#block_exacomp .lmnE {
	background-color: #990000 !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
}

#block_exacomp #green1,
#block_exacomp .green1 {
	background-color: #00CC00 !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
	
}

#block_exacomp #green2,
#block_exacomp .green2 {
	background-color: #008F00 !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
}

#block_exacomp #green3,
#block_exacomp .green3 {
	background-color: #006D00 !important;
	color: #a2a2a2 !important;
	font-size: 0.75em;
}

#block_exacomp span.competenceyellow,
#block_exacomp span.competenceok,
#block_exacomp span.lmoB,
#block_exacomp span.lmnE,
#block_exacomp span.green1,
#block_exacomp span.green2,
#block_exacomp span.green3 {
	width: 20px;
	border: 1px gray solid;
}

#block_exacomp .generaltable td.bottom {
	vertical-align: bottom
}

#block_exacomp .ec_firstcol {
	width: 50px
}

#block_exacomp .ec_td_mo {
	width: 100px
}

#block_exacomp .ec_td_mo_auto {
	width: auto
}

#block_exacomp .exabis_comp_comp_table {
	overflow: auto
}

#block_exacomp .competence_profile_overview_artefacts ul,
#block_exacomp .competence_profile_overview_feedback ul,
#block_exacomp .competence_profile_coursedata ul,
#block_exacomp .competence_profile_artefacts ul,
#block_exacomp .competence_profile_noassociation ul {
	padding-left: 20px
}

#block_exacomp .ec_overflow {
	overflow: auto
}

#block_exacomp .ec_minwidth {
	width: 750px
}

#block_exacomp .ec_tableheadwidth {
	width: 100px
}

#block_exacomp .ec_activitylist_student {
	width: 50px
}

#block_exacomp table.competence_grid td.atax {
	background-color: #c8d7f4 !important
}

#block_exacomp table.competence_grid td.btax {
	background-color: #8eb2e2 !important
}

#block_exacomp table.competence_grid td.ctax {
	background-color: #548dd4 !important
}

#block_exacomp table.competence_grid td:nth-child(2n+1) {
	background-color: #FFF
}

#block_exacomp table.competence_grid td {
	background-clip: padding-box;
	-moz-hyphens: auto;
    word-wrap: break-word;
}

#block_exacomp .ec_heading {
	background-color: #dfdfdf
}

#block_exacomp div .tabtree ul {
	text-align: left
}

#block_exacomp .compstable {
	margin-bottom: 0;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	margin: 20px 0 0;
	width: auto;
}

#block_exacomp table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

#block_exacomp #tdsubmit {
	border: 1px transparent solid
}

/* this prevents open/close when clicking on empty space to the right of a tree item */
#block_exacomp .treeview ul {
	margin-left: -22px;
	padding-left: 22px;
	cursor: default;
}

/* no paddin and margin on first level, and all sublevels */
#block_exacomp .treeview, #block_exacomp .treeview ul {
	padding: 0;
	margin: 0;
}



#block_exacomp div.ladebalken {
	width: 425px;
	height: 27px;
}

#block_exacomp div.lbmittelwert {
	border-right: 1px solid #000000;
	height: 27px;
}

#block_exacomp div.lbmittelwertcontainer {
	height: 27px;
	position: absolute;
	width: 425px;
}

#block_exacomp div.spaltenbrowser {
	margin-top: 15px
}

#block_exacomp #block_exacomp_activitysettings td.contentcell,
#block_exacomp #block_exacomp_niveaufilter td.contentcell
td.contentcell {
	height: 100px;
	min-width: 150px;
}

#block_exacomp table#block_exacomp_activitysettings,
#block_exacomp table#block_exacomp_niveaufilter {
	width: 300px
}

#block_exacomp .settingtable td {
	vertical-align: top
}

#block_exacomp .header,
#block_exacomp .cell {
	padding: 0.3em;
	border: 1px solid #cacaca;
	border-collapse: collapse;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	font-size: 1em;
	cursor: default;
}

#block_exacomp .cell {
	border: 1px solid #cacaca;
	border-collapse: collapse;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	vertical-align: top;
}

#block_exacomp .cell .statistic_head .cell, #block_exacomp .cell .crosssubjects .cell {
	vertical-align: middle;
	font-size: 0.85em;
}

#block_exacomp .cell .crosssubjects .c1, #block_exacomp .cell .crosssubjects .c2,#block_exacomp .cell .crosssubjects .c3,#block_exacomp .cell .crosssubjects .c4, #block_exacomp .cell .crosssubjects .c5, #block_exacomp .cell .crosssubjects .c6, #block_exacomp .cell .crosssubjects .c7, #block_exacomp .cell .crosssubjects .c8, #block_exacomp .cell .crosssubjects .c9, #block_exacomp .cell .crosssubjects .c10, #block_exacomp .cell .crosssubjects .c11 {
	text-align: center;
}

#block_exacomp .cell .content {
	padding: 0.7rem;
	font-size: 1em;
	border: 1px solid #cacaca;
	border-radius: 5px;
	margin-bottom: 3px;
}
#block_exacomp .cell .contentok {
	padding: 0.7rem;
	font-size: 1em;
	border: 2px solid #99cc66;
	border-radius: 5px;
	margin-bottom: 3px;
}
.childdescriptors {
	font-size: 0.7em;
}

#block_exacomp .skill,
#block_exacomp .topic {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	word-wrap: normal;
	padding: 0.5rem;
}

#block_exacomp .header {
	background-color: #E6E6E6 !important;
	background-image: none;
	font-size: 0.9em;
}

#block_exacomp .competence_grid {
	width: 100%;
	border: 1px solid #cacaca;
	border-collapse: collapse;
}

#block_exacomp .competence_grid td.skill {
	background-color: #e4e2e2 !important;
	vertical-align: middle;
}

#block_exacomp .competence_grid_tax td.skill p {
	font-weight: normal;
	font-size: 1.3rem;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

#block_exacomp .competence_grid td.topic {
	background-color: #ebebeb;
	vertical-align: middle;
}

#block_exacomp .competence_grid th.c0 {
	overflow: hidden;
	width: 5rem;
}

#block_exacomp .competence_grid th.c1 {
	overflow: hidden
}

#block_exacomp .competence_grid td.topic,
#block_exacomp .competence_grid td.skill {
	overflow: hidden
}

#block_exacomp .competence_grid_tax td.topic p {
	font-weight: normal;
	font-size: 1.1rem;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

#block_exacomp h4 {
	font-size: 16px
}

#block_exacomp .rotated-text {
	font-weight: normal;
	font-size: 1.1rem;
	display: inline-block;
	overflow: hidden;
	width: 10.5em;
	line-height: 1.5;
}

#block_exacomp .rotated-text-header {
	font-weight: normal;
	font-size: 1.1rem;
	display: inline-block;
	overflow: hidden;
	width: 10.5em;
	line-height: 1.5;
}

#block_exacomp .rotated-text-disabled {
	width: 100%;
	font-size: 1.1rem;
}

#block_exacomp .rotated-text__inner,
#block_exacomp  .rotated-text__inner-header {
	display: inline-block;
	white-space: nowrap;
	-webkit-transform: translate(0%, 100%) rotate(-90deg);
	-moz-transform: translate(0%, 100%) rotate(-90deg);
	-ms-transform: translate(0%, 100%) rotate(-90deg);
	-o-transform: translate(0%, 100%) rotate(-90deg);
	transform: translate(0%, 100%) rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	text-align: left;
	font-size: 1.1rem;
	word-wrap: break-word;
	white-space: pre-wrap;
}

#block_exacomp .rotated-text__inner_disabled {
	-webkit-transform: none !important;
	-moz-transform: translate(0%, 100%) rotate(0deg);
	-ms-transform: translate(0%, 100%) rotate(0deg);
	-o-transform: translate(0%, 100%) rotate(0deg);
	transform: none;
}

#block_exacomp .rotated-text__inner:after,
#block_exacomp  .rotated-text__inner-header:after {
	content: "";
	float: left;
	margin-top: 100%;
}

#block_exacomp #linkback {
	font-family: Arial, Verdana, Helvetica, sans-serif
}

#block_exacomp .helpdiv h3 {
	margin-bottom: 4px;
	margin-top: 18px;
}

#block_exacomp a.switchtextalign {
	cursor: pointer
}

@media print {
	/* hide stuff: */
	#page-navbar, /* breadcrumbs */
	ul.nav, /* navigation */
	#page-footer,
	header.navbar /* the page navigation header */
	{
		display: none;
	}
	body {
		padding: 0 !important;
	}

	#block_exacomp div#linkback {
		display: none
	}

	#block_exacomp table#lernagenda {
		padding: 5px
	}

    .button-box {
	    display: none;
    }
}

#block_exacomp table.exabis_comp_top,
#block_exacomp table.exabis_comp_comp,
#block_exacomp .exabis_comp_info,
#block_exacomp table.default-table {
	width: 100%;
	border: 1px solid #E3DFD4;
	border-collapse: collapse;
}

#block_exacomp .exabis_comp_info {
	margin-bottom: 20px;
	background-color: #efefef;
}

#block_exacomp table.exabis_comp_top td {
	width: 50px
}

#block_exacomp table.exabis_comp_top td,
#block_exacomp table.exabis_comp_comp td,
#block_exacomp .exabis_comp_info td,
#block_exacomp table.default-table td,#block_exacomp table.default-table th {
	padding: 0.5em;
	border: 1px solid #cacaca;
	border-collapse: collapse;
	vertical-align: top;
}

#block_exacomp .desctitle {
	font-weight: bold
}

#block_exacomp .desctitlegrey {
	font-weight: bold;
	color: #666666;
}

#block_exacomp table.exabis_comp_comp {
	font-size: 0.85em
}

#block_exacomp table.competence-overview tr.exabis_comp_teilcomp > td:nth-child(2) {
	min-width: 240px;
}
#block_exacomp table.competence-overview select {
	max-width: 70px;
	font-size: 0.85em;
}

#block_exacomp .exabis_comp_aufgabe {
	font-size: 0.9em
}

#block_exacomp .exabis_comp_aufgabe .aufgabetext {
	margin: 0 0 0 1em
}

#block_exacomp table.default-table th,
#block_exacomp table.default-table tr.highlight {
	background-color: #e6e6e6
}
#block_exacomp table.default-table tr:nth-child(2n+1) {
	background-color: #f9f9f9
}

#block_exacomp table.exabis_comp_comp tr.highlight {
	background-color: #e6e6e6
}
#block_exacomp table.exabis_comp_comp td.disabled {
	background-color: #e6e6e6
}
#block_exacomp table.exabis_comp_comp tr.exabis_comp_aufgabe:nth-child(2n+1) {
	background-color: #f9f9f9
}

#block_exacomp span.exabis_comp_top_header {
	font-style: italic;
	font-size: 15px;
}

#block_exacomp span.exabis_comp_top_name {
	display: block;
	font-size: 0.84em;
}

#block_exacomp div.exabis_comp_top_indentation {
	margin-left: 20px
}

#block_exacomp div.exabis_comp_top_indentation_nr {
	width: 20px;
	float: left;
}

#block_exacomp .spaltenbrowser {
	margin-top: 15px;
	margin-bottom: 5px;
}

#block_exacomp img.exabis_comp_teilcomp_pfeil {
	margin-right: 10px
}

#block_exacomp table.exabis_comp_top .comp_grey_97 {
	background-color: #f6f6f6
}

#block_exacomp table.exabis_comp_top .comp_grey_90 {
	background-color: #e2e2e2
}

#block_exacomp table.exabis_comp_top .comp_grey_83 {
	background-color: #cfcfcf
}

#block_exacomp .exabis_comp_select select {
	margin-bottom: 20px
}

#block_exacomp .exabis_comp_select select {
	margin-right: 20px
}

#block_exacomp .exabis_comp_aufgabe input[type="checkbox"],
#block_exacomp .exabis_comp_teilcomp input[type="checkbox"],
#block_exacomp .exabis_comp_aufgabe img,
#block_exacomp .exabis_comp_teilcomp img {
	margin-right: 4px
}

#block_exacomp .exabis_comp_aufgabe img.exabis_comp_cal,
#block_exacomp .exabis_comp_teilcomp img.exabis_comp_cal {
	margin-right: 4px;
	margin-left: 4px;
}

#block_exacomp .exabis_comp_top_iconcol {
	min-width: 35px
}

#block_exacomp .exabis_comp_top_studentcol {
	min-width: 40px
}

#block_exacomp .exabis_comp_top_evalcol {
	width: 50px
}
/*
#block_exacomp .rowgroup-header .rowgroup-arrow {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
#block_exacomp .rowgroup-header .rowgroup-arrow-styled {
	font-weight: inherit;
	text-decoration: inherit;
}
#block_exacomp .rowgroup-header .rowgroup-arrow-styled .rowgroup-arrow-highlight {
	font-weight: bold;
	text-decoration: underline;
}
#block_exacomp .rowgroup-header .rowgroup-arrow div {
	padding-left: 12px;
	background: url(../pix/pfeil_show.png) 0 6px no-repeat;
}
#block_exacomp .rowgroup-header.open .rowgroup-arrow div {
	background: url(../pix/pfeil_hide.png) 0 6px no-repeat
}
#block_exacomp .rowgroup-content {
	display: none
}
*/

#block_exacomp .rg2-header .rg2-arrow {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
#block_exacomp .rg2-header .rg2-arrow-disabled {
	font-weight: bold;
}
#block_exacomp .rg2-header .rg2-arrow-styled {
	font-weight: inherit;
	text-decoration: inherit;
}
#block_exacomp .rg2-header .rg2-arrow-styled .rg2-arrow-highlight {
	font-weight: bold;
	text-decoration: underline;
}
#block_exacomp .rg2-header .rg2-arrow div {
	padding-left: 12px;
	background: url(../pix/pfeil_show.png) 0 6px no-repeat;
}

#block_exacomp .rg2-header.open .rg2-arrow div {
	background: url(../pix/pfeil_hide.png) 0 6px no-repeat
}
#block_exacomp .rg2-highlight td {
	background-color: #e6e6e6
}
#block_exacomp .rg2-locked {
	color: #aaa;
}
#block_exacomp .rg2-header.rg2-locked .rg2-arrow {
	cursor: default;
	text-decoration: none;
}
/*
hide arrow
#block_exacomp .rg2-header.rg2-locked .rg2-arrow div {
	padding-left: 0;
	background: none;
}
*/

#block_exacomp .highlight_cell {
	background-color: #b7efeb;
}

#block_exacomp tr[class*=rg2-level-] {
	display: none;
}
#block_exacomp tr.rg2-level-0 {
	display: table-row;
}
#block_exacomp tr.rg2-level-1 .rg2-indent {
	padding-left: 20px !important;
}
#block_exacomp tr.rg2-level-2 .rg2-indent {
	padding-left: 40px !important;
}
#block_exacomp tr.rg2-level-3 .rg2-indent {
	padding-left: 60px !important;
}
#block_exacomp tr.rg2-level-4 .rg2-indent {
	padding-left: 80px !important;
}
#block_exacomp tr.rg2-level-5 .rg2-indent {
	padding-left: 100px !important;
}

#block_exacomp td.row-numbering {
	width: 5px;
	white-space: nowrap;
}
#block_exacomp .exabis_comp_top_student {
	text-align: center
}

#block_exacomp .exabis_comp_student_not {

}

#block_exacomp  .exabis_comp_student_assigned {
	background-color: #f9b233
}

#block_exacomp .exabis_comp_teacher_assigned {
	background-color: #48a53f
}

#block_exacomp .exabis_comp_student_started {
	background-color: #F4FA58
}

#block_exacomp .exabis_assign_student {
	display: none
}

/* only show first colgroup when loading */
#block_exacomp td[class*=colgroup-] {
	display: none;
}
#block_exacomp td.colgroup-0 {
	display: table-cell;
}

/* ##################################################### */
/* ##################################################### */
/* ############ Neue Styles Kompetenzprofil ############ */
/* ##################################################### */
/* ##################################################### */


#block_exacomp .userpicturecontainer {
	float: left;
	margin-right: 10px;
}

#block_exacomp .competence_profile_metadata {
	background-color: #f9f9f9
}

#block_exacomp .competence_profile_metadata,
#block_exacomp .competence_profile_overview_mycompetencies,
#block_exacomp .competence_profile_coursedata,
#block_exacomp .competence_profile_overview_artefacts,
#block_exacomp .competence_profile_overview_feedback,
#block_exacomp .competence_profile_artefacts,
#block_exacomp .competence_profile_feedback {
	border: 1px solid #ddd;
	padding: 10px;
}

#block_exacomp .competence_profile_overview h4 {
	margin: 0
}

#block_exacomp .competence_profile_overview_mycompetencies,
#block_exacomp .competence_profile_artefacts,
#block_exacomp .competence_profile_feedback,
#block_exacomp .competence_profile_coursedata {
	margin-bottom: 20px
}

#block_exacomp .competence_profile_overview_artefacts,
#block_exacomp .competence_profile_overview_feedback,
#block_exacomp .competence_profile_piegraph,
#block_exacomp .competence_profile_radargraph {
	width: 48.7179%;
	float: left;
	box-sizing: border-box;
	display: block;
}

#block_exacomp .competence_profile_graphbox .radargraph_legend {
	text-align: center
}

#block_exacomp .button-box {
	position: absolute;
	right: 0;
	top: 0;
}
#block_exacomp .button-box > * {
	/* abstand in den inhaltselementen/buttons */
	margin-left: 4px;
}

#block_exacomp .competence_profile_overview_feedback {
	margin-left: 2.5641%
}

#block_exacomp .competence_profile_overview,
#block_exacomp .competence_profile_coursedata {
	margin-top: 30px
}

#block_exacomp .competence_profile_radargraph .radargraph,
#block_exacomp .competence_profile_piegraph .piegraph,
#block_exacomp .competence_profile_radargraph .piegraph 
#block_exacomp .competence_profile_timelinegraph .timeline{
	margin: 0 auto
}

#block_exacomp .competence_profile_piegraph .piegraph,
#block_exacomp .competence_profile_radargraph .piegraph 
#block_exacomp .competence_profile_timelinegraph .timeline{
	margin-bottom: 40px
}

#block_exacomp .competence_profile_timelinegraph .timeline{
   	margin-left: 5%;
}
#block_exacomp .radargraph_legend{
	margin-bottom: 40px
}
#block_exacomp .competence_profile_overview .compstable,
#block_exacomp .competence_profile_artefacts .compstable,
#block_exacomp .competence_profile_feedback .compstable {
	font-size: 1em
}

#block_exacomp div.lbmittelwertcontainer {
	height: 18px
}

#block_exacomp div.lbmittelwert {
	border-right: 2px solid #d9534f;
	height: 18px;
	-webkit-box-shadow: 2px 0px 0px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 2px 0px 0px 0px rgba(255, 255, 255, 0.75);
	box-shadow: 2px 0px 0px 0px rgba(255, 255, 255, 0.75);
}

#block_exacomp div.ladebalken {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

#block_exacomp div.ladebalken,
#block_exacomp .ladebalkenstatus {
	border-radius: 5px;
	height: 18px;
}

#block_exacomp .stripes {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-color: #48a53f;
	background-size: 30px 30px;
	animation: 2s linear 0s normal none infinite progress-bar-stripes;
}

@media print { 
	#block_exacomp .stripes {
		position: relative;
		overflow: hidden;
		/* this might not work well in all situations */
	}

	#block_exacomp .stripes:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		/* and here it is, #block_exacomp the background color */
		border: 99999px #48a53f solid;
		z-index: 0;
		/* was required in my situation */
	}

	#block_exacomp .stripes * {
		/* was required in my situation */
		position: relative;
		z-index: 1;
	}
}

#block_exacomp .competence_profile_overview_artefacts ul,
#block_exacomp .competence_profile_overview_feedback ul {
	margin-top: 20px;
	list-style-type: circle;
}

#block_exacomp .competence_profile_coursedata ul.competence_profile_complist,
#block_exacomp .competence_profile_coursedata ul.competence_profile_complist ul,
#block_exacomp .competence_profile_artefacts ul.competence_profile_complist,
#block_exacomp .competence_profile_artefacts ul.competence_profile_complist ul {
	list-style-type: none
}

#block_exacomp .competence_profile_coursedata ul li {
	padding-left: 12px;
	color: #7f7f7f;
}

#block_exacomp .competence_profile_artefacts ul li {
	color: #000
}

#block_exacomp .competence_profile_artefacts ul.competence_profile_complist li {
	padding-left: 12px
}

#block_exacomp .competence_profile_coursedata ul li.reached {
	color: #000
}

#block_exacomp .competence_profile_coursedata ul.competence_profile_complist > ul > ul li,
#block_exacomp .competence_profile_artefacts ul.competence_profile_complist > ul > ul li {
	margin-left: 10px
}

#block_exacomp .competence_profile_coursedata ul.competence_profile_complist_items li {
	background: transparent url(folder_fill_12x12.png) no-repeat left center;
	padding-left: 18px;
	color: #000;
}

#block_exacomp .competence_profile_coursedata li.complistshow {
	background: transparent url(../pix/pfeil_show.png) no-repeat left center
}

#block_exacomp .competence_profile_coursedata li.complisthide,
#block_exacomp .competence_profile_artefacts ul.competence_profile_complist li {
	background: transparent url(../pix/pfeil_hide.png) no-repeat left center
}

#block_exacomp .competence_profile_coursedata {
	margin-top: 0px
}

#block_exacomp h3.competence_profile_sectiontitle {
	margin-top: 40px
}

#block_exacomp .competence_profile_artefacts ul.competence_profile_complist > ul > ul li {
	margin-left: 10px;
	list-style-type: circle;
	background: none;
	padding: 0;
}

#block_exacomp .generaltable td.competence_tableright {
	text-align: right;
	min-width: 140px;
	max-width: 200px;
}

#block_exacomp .competence_profile_grapherror {
	text-align: center;
	font-size: 0.7em;
}

/*
not used anymore?
#block_exacomp .plusimageapply {
	list-style-image: url(../pix/pfeil_show.png);
	cursor: pointer;
}

#block_exacomp .minusimageapply {
	list-style-image: url(../pix/pfeil_hide.png);
	cursor: pointer;
}

#block_exacomp .selectedimage {
	list-style-image: url(../pix/selected.png);
	cursor: pointer;
}
*/

#block_exacomp .exacomp_profile_badges {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}

/*
#block_exacomp div.associated_div li:last-child, #block_exacomp div.associated_div li li:last-child, #block_exacomp div.associated_div li li li:last-child {
	padding-bottom: 0px;
} 
*/
#block_exacomp div.associated_div li.associated {
	 color: #000;
}
#block_exacomp table.statistic{
	width: 100%;
	border: 1px solid #E3DFD4;
	border-collapse: collapse;
}
#block_exacomp table.statistic tr.statistic_head {
   background-color: #dfdfdf;font-weight:bold;
}
#block_exacomp table.statistic td{
	padding: 0.5em;
	border: 1px solid #cacaca;
	border-collapse: collapse;
	vertical-align: top;
}
#block_exacomp table.statistic td.c0{
	background-color: #dfdfdf;font-weight:bold;
}

#block_exacomp div#view_examples_header {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

#block_exacomp  a {
   outline: 0;
}

#block_exacomp a.hide-topic{
	padding: 5px;
}
#block_exacomp .view_examples_icon {
	margin-right:10px;
}

.exabis_competencies_lis .gridlayout {
	display: table;
}
.exabis_competencies_lis .gridlayout > div {
	display: table-cell;
	margin: 0; padding: 0;
}
.exabis_competencies_lis .gridlayout > div:first-child {
	width: 210px;
}

.exabis_competencies_lis > .floating-header {
	overflow-y: auto;
	height: 80vh;
}

.exabis_competencies_lis > .floating-header thead th{
	position: sticky;
	top: 0;
}


#block_exacomp .row  {
	display: table-row;
}

#block_exacomp .subjects_menu {
	width: 185px;
	padding-right: 16px;
}
#block_exacomp .subjects_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#block_exacomp .subjects_menu ul li a {
	text-decoration: none;
	color: #000;
	padding: 10.5px 11px;
	background-color: #eeeeee;
	display: block;
	font-size: 0.9em;
}

#block_exacomp .subjects_menu li a {
	border-style: solid;
	border-width: 1px;
	border-color: #cacaca;
	border-width: 1px 0 0 1px;
}

#block_exacomp .subjects_menu li:last-child a {
	border-bottom: 1px solid #cacaca;
}

#block_exacomp .subjects_menu ul li .type, subjects_menu ul li .type a:hover {
	background-color: #1c4e79;
	color: #fff;
	border-color: #1c4e79;
	font-size: 1em;
}
#block_exacomp .subjects_menu ul li a:hover, #block_exacomp .subjects_menu ul li .current {
	color: white;
	background-color: #026cc5;
}

#block_exacomp .subjects_menu ul {
	border-right: 1px solid #cacaca;
}

#block_exacomp .niveaus_menu {
	display: block;
}

#block_exacomp .niveaus_menu ul {
	margin: 0; padding: 0;
	list-style: none;
}

#block_exacomp .niveaus_menu ul li {
	float: left;
	display: block;
	margin: 0; padding: 0;
}

#block_exacomp .niveaus_menu ul li a {
	text-decoration: none;
	color: #000;
	/*padding: 11px;*/
	padding: 11px 11px 5px 11px;
	display: block;
	height: auto;
	background: #eeeeee;
	border: 1px solid #cacaca;
	max-width: 160px;
	min-width: 60px;
	white-space: nowrap;
	/*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

#block_exacomp .niveaus_menu ul li a span.titleAll {
	display: inline-block;
	overflow: hidden;
}

#block_exacomp .niveaus_menu ul li a span.title {
	/*position: relative;*/
	display: inline-block;
	/*width: 70%;*/
	max-width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#block_exacomp .niveaus_menu ul li a span.niveau-button {
	float: right;
	/*display: inline-block;*/
	/*position: relative;*/
	/*width: 24px;*/
	/*display: none;*/
}

#block_exacomp .niveaus_menu ul li a span.niveau-button-add {
	float: left;
}

#block_exacomp .legend {
	clear: both;
	margin: 10px 0;
}
#block_exacomp .niveaus_menu ul li a .subtitle {
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
	font-size: 0.9em;
}

#block_exacomp .niveaus_menu ul li a:hover, #block_exacomp .niveaus_menu ul li .current {
	color: white;
	background-color: #026cc5;
	border-color: #026cc5;
}

#block_exacomp select#menuexacomp_competence_grid_select_student, #block_exacomp select#menulis_courses {
	margin-right: 15px;
}

#block_exacomp .exa-collapsible > legend {
	cursor: pointer;
}
#block_exacomp .exa-collapsible > div {
	display: none;
}
#block_exacomp .exa-collapsible.exa-collapsible-open > div {
	display: block;
}

.exa-tree {
	display: none;
}

#block_exacomp .imglocked{
	padding-left: 3px;
}

.ui-tooltip {
	max-width: 500px !important;
}
.ui-tooltip-content, .ui-widget {
	/* jquery ui tooltips in der original groesse anzeigen, sonst ist der text immer groesser */
	font-size: 1em !important;
	font-family: inherit !important;
}

/* fix date picker in moodle 3.1: css collides with moodle.css */
.date-picker-wrapper .normal {
	display: block;
	width: auto;
	height: auto;
}

/* import xml */
ul.exacomp_import_grids_list {
	list-style-type: none;
}

.exacomp_import a.exacomp_import_select_sublist {
	color: #007193;
	cursor: pointer;
}

.exacomp_import a.exacomp_import_select_sublist:hover {
	text-decoration: underline;
}

.exacomp_importtasks .exacomp_importtask_link span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table.exacomp_source_delete td {
	text-decoration: none !important;
}

#block_exacomp td span.exacomp-has-another-source {
	font-weight: normal;
	color: #FF7F6E;
	font-size: 0.75em;
	text-decoration: none !important;
}

#block_exacomp .exacomp-another-source {
	font-weight: normal;
	color: #FF7F6E;
	font-size: 0.75em;
	text-decoration-line: none !important;
}

#exacomp-table-taxonomies {
	margin-bottom: 20px;
}
#exacomp-table-taxonomies .cell {
	border: none;
}
#exacomp-table-taxonomies .cell .icon {
	margin-left: 0px;
	margin-right: 0px;
}

.exacomp-submission-subcategory-title {
	margin-top: 15px;
}
.exacomp-submission-example-title {
	margin-top: 15px;
}
.exacomp-submission-subcategory-links,
.exacomp-submission-subcategory-files,
.exacomp-submission-example-files,
.exacomp-submission-example-links {
	display: block;
}

input[type=checkbox].be-sure {
	border-color: red !important;
	outline: 1px solid red;
}