#exacomp #main-content {
	display: table;
	width: 100%;
}
#exacomp #main-content  > .column {
	display: table-cell;
}
#exacomp #main-content  > .column:first-child {
	width: 20%;
}
#exacomp #main-content  > .column:last-child {
	padding-left: 20px;
}

#exacomp .header {
	background-color: #e6e6e6;
	color: #000;
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #cacaca;
	border-left: none;
	border-right: none;
	border-top: none;
}

#exacomp .header

#exacomp .ui-sortable .header {
	border-bottom: none;
}

#exacomp .items {
	margin: 0;
	min-height: 10px;
	max-height: 600px;
	overflow: auto;
}
#exacomp .item {
	margin: 10px;
	background: white;
	cursor: pointer;
	background: #5ba803;
	color: #fff;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
	border-radius: 3px;
}

#exacomp .item .header {
	background-color: #5ba803 !important;
	border: none;
}

#exacomp .item .header {
	color: #fff;
	border-radius: 3px;
}
#exacomp .item .buttons {
	display: none;
}
#exacomp .item .buttons label:first-child {
	float: left;
}
#exacomp .day .item .buttons {
	display: block;
	margin-top: 0;
	padding: 5px 5px 5px 15px;
}

#exacomp .day .item .buttons input[type="radio"][disabled], #exacomp .day .item .buttons input[type="checkbox"][disabled], #exacomp .day .item .buttons input[type="radio"][readonly], #exacomp .day .item .buttons input[type="checkbox"][readonly] {
    background-color: #d1d1d1;
}

#exacomp .empty {
	margin: 10px;
	padding: 5px;
	height: 40px;
	display: none;
	position: absolute;
}

#exacomp #items {
	border: 1px solid #cacaca;
	min-height: 200px;
}
#exacomp #items .items {
	min-height: 200px;
}

#exacomp #trash {
	border: 1px solid #cacaca;
	margin-top: 20px;
}
#exacomp #trash .items {
	min-height: 80px;
}

#exacomp .placeholder {
	margin: 10px;
	padding: 5px;
	background: rgba(102, 175, 233, 0.6);
	border-radius:3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.3);
}

#exacomp #save-button {
	height: 55px;
	text-align: center;
}
#exacomp #save-button input {
	margin-top: 3px;
}
#exacomp #navi {
	margin-bottom: 20px;
	text-align: center;
	padding: 5px 0;
}
#exacomp #days {
	border: 1px solid #cacaca;
	display: table;
	border-collapse: collapse;
	width: 100%;
}
#exacomp .day {
	display: table-cell;
	width: 20%;
	border: 1px solid #cacaca;
}
#exacomp #days .items {
	min-height: 200px;
}

#exacomp #days .day:nth-child(2n+1) {
	background-color: #f6f6f6;
}

#exacomp #days .day:nth-child(2n+1) .header {
	background-color: #dfdfdf;
}

#exacomp #days .day:nth-child(2n+1) .item .header {
	background-color: transparent;
}
