/*#block_exacomp #main-content {
    display: table;
    width: 100%;
}
#block_exacomp #main-content  > .column {
    display: table-cell;
}
#block_exacomp #main-content  > .column:first-child {
    width: 20%;
}
#block_exacomp #main-content  > .column:last-child {
    padding-left: 20px;
}

#block_exacomp .header {
    background-color: #e6e6e6;
    color: #000;
    padding: 5px 5px 5px 15px;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    border-top: none;
}

#block_exacomp .header

#block_exacomp .ui-sortable .header {
    border-bottom: none;
}

#block_exacomp .items {
    margin: 0;
    min-height: 10px;
    max-height: 600px;
    overflow: auto;
}
#block_exacomp .item {
    margin: 10px;
    background: white;
    cursor: pointer;
    background: #0784eb;
    color: #fff;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    border-radius: 3px;
}

#block_exacomp .item .header {
    background-color: #0784eb !important;
    border: none;
}

#block_exacomp .item .header {
    color: #fff;
    border-radius: 3px;
}
#block_exacomp .item .buttons {
    display: none;
}
#block_exacomp .item .buttons label:first-child {
    float: left;
}
#block_exacomp .day .item .buttons {
    display: block;
    margin-top: 0;
    padding: 5px 5px 5px 15px;
}

#block_exacomp .day .item .buttons input[type="radio"][disabled], #block_exacomp .day .item .buttons input[type="checkbox"][disabled], #block_exacomp .day .item .buttons input[type="radio"][readonly], #block_exacomp .day .item .buttons input[type="checkbox"][readonly] {
    background-color: #d1d1d1;
}

#block_exacomp .empty {
    margin: 10px;
    padding: 5px;
    height: 40px;
    display: none;
    position: absolute;
}

#block_exacomp #items {
    border: 1px solid #cacaca;
    min-height: 200px;
}
#block_exacomp #items .items {
    min-height: 200px;
}

#block_exacomp .placeholder {
    margin: 10px;
    padding: 5px;
    background: rgba(102, 175, 233, 0.6);
    border-radius:3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.3);
}

#block_exacomp #save-button {
    height: 55px;
    text-align: center;
}
#block_exacomp #save-button input {
    margin-top: 3px;
}
#block_exacomp #navi {
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 0;
}
#block_exacomp #days {
    border: 1px solid #cacaca;
    display: table;
    border-collapse: collapse;
    width: 100%;
}
#block_exacomp .day {
    display: table-cell;
    width: 20%;
    border: 1px solid #cacaca;
}
#block_exacomp #days .items {
    min-height: 200px;
}

#block_exacomp #days .day:nth-child(2n+1) {
    background-color: #f6f6f6;
}

#block_exacomp #days .day:nth-child(2n+1) .header {
    background-color: #dfdfdf;
}

#block_exacomp #days .day:nth-child(2n+1) .item .header {
    background-color: transparent;
}
*/
#block_exacomp #external-events {
    float: left;
    width: 20%;
    padding: 17px 10px 0;
    /*border: 1px solid #ccc;*/
    /*background: #eeeeee; */
    text-align: left;
    min-height: 100px;
    background: #eee;
}

#block_exacomp #external-events.hover {
    background: #d5ecff;
}

#block_exacomp #trash {
    width: 20%;
    padding: 17px 10px 0 10px;
    /* border: 1px solid #ccc; */
    background: #eee;
    text-align: left;
    margin-top: 25px;
    float: left;
}

#block_exacomp #trash input {
    padding: 0px 10px 0px 10px;
    margin: 5px 10px 5px 0px;
}

#block_exacomp #import_ics {
    width: 20%;
    padding: 17px 10px 0 10px;
    /* border: 1px solid #ccc; */
    background: #eee;
    text-align: left;
    margin-top: 25px;
    float: left;
    overflow: hidden;
}

#block_exacomp #import_ics input {
    padding: 0px 10px 0px 10px;
    margin: 5px 10px 5px 0px;
}

#block_exacomp #import_ics #import_ics_link {
    width: 100%;
}

#block_exacomp #import_ics #delete_imports_button {
    white-space: normal;
}


#block_exacomp #trash.hover {
    background: #fddedd;
    border-color: #fddedd;
}

#block_exacomp #external-events h4,
#block_exacomp #trash h4 {
    font-size: 0.9em;
    margin-top: 0;
}

#block_exacomp #trash h4 {
    background: transparent url("../pix/exacomp_week_trash.png") no-repeat scroll right bottom;
    height: 28px;
    margin: 0 auto 15px;
}

#block_exacomp #import_ics h4 {
    height: 28px;
    margin: 0 auto 15px;
}


#block_exacomp #trash .fc-event {
    margin: 10px 0;
    cursor: pointer;
    min-height: 50px;
    padding: 6px;
}

#block_exacomp #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    min-height: 50px;
    padding: 6px;
}

#block_exacomp .fc-event .event-extra {
    /*border-top: 1px solid rgba(255, 255, 255, .5);*/
    /*margin-top: 5px;  */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#block_exacomp #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#block_exacomp #external-events p input {
    margin: 0;
    vertical-align: middle;
}

#block_exacomp #wrap {
    margin: 40px auto 0;
}

#block_exacomp .fc-time-grid .fc-slats td {
    height: 2.9em;
}

#block_exacomp #calendar {
    float: right;
    /*width: 76%;*/
    width: calc(80% - 45px);
}

#block_exacomp .fc-event .fc-content {
    padding: 3px;
}

#block_exacomp .fc-ltr .fc-axis {
    text-align: left;
}

#block_exacomp .fc-ltr .fc-axis span span {
    color: #7e7e7e;
}

#block_exacomp .fc th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#block_exacomp .fc-toolbar .fc-left .fc-button {
    margin-right: 5px;
}

#block_exacomp .fc-toolbar .fc-right .fc-button {
    margin-left: 5px;
}

#block_exacomp .fc-event {
    background-color: #026cc5;
    border: 1px solid #0162b3;
    margin-top: 2px;
    margin-bottom: 2px;
    /*border: 1px solid #96a7b7;*/
}

#block_exacomp .fc-backgroundevent {
    background-color: #026cc5;
    pointer-events: none;
    cursor: default;
    border: 1px solid #0162b3;
    margin-top: 2px;
    margin-bottom: 2px;
    /*border: 1px solid #96a7b7;*/
}

#block_exacomp .different-course {
    background-color: #acbcca;
    border: 1px solid #acbcca;
}

#block_exacomp #calendar .fc-event {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

#block_exacomp #external-events .fc-event {
    border: 1px solid #026cc5;
}

#block_exacomp #calendar .fc-toolbar h2 {
    font-size: 20px;
    font-weight: normal;
}

#block_exacomp .fc-unthemed .fc-today {
    background: #d6ecff none repeat scroll 0 0;
}

#block_exacomp .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 2.5% 0 2.5% !important;
}

#calendar .event-extra {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-right: 5px;
}

#block_exacomp #external-events .buttons {
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 5px;
    padding-right: 5px;
}

#external-events .event-assoc,
#external-events .event-submission,
#external-events .event-task,
#external-events .event-copy,
#external-events .event-schedulermarker,
#trash .event-assoc,
#trash .event-submission,
#trash .event-task,
#trash .event-copy,
#trash .event-schedulermarker,
#calendar .event-extra .event-assoc,
#calendar .event-extra .event-submission,
#calendar .event-extra .event-task,
#calendar .event-extra .event-copy,
#calendar .event-extra .event-schedulermarker {
    margin-right: 5px;
    float: right;
    display: inline-block;
}

#block_exacomp #trash .fc-event {
    background-color: #7e91a2;
    border-color: #7e91a2;
}

.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
    margin-right: 20px;
    line-height: 1.2;
}

#block_exacomp .state5 {
    background-color: rgb(24, 164, 6);
    border: 1px solid rgb(24, 164, 6) !important;
}

#block_exacomp .state3 {
    background-color: rgb(189, 189, 189);
    border: 1px solid rgb(189, 189, 189) !important;
}

#block_exacomp .state4 {
    background-color: rgb(246, 46, 39);
    border: 1px solid rgb(246, 46, 39) !important;
}

#block_exacomp .state9 {
    background-color: #593d1e;
    border: 1px solid #593d1e !important;
}

#block_exacomp .state10 {
    background-color: #593d1e;
    opacity: 0.4;
    border: 1px solid #593d1e !important;
    color: #FFFFFF;
}

#block_exacomp .event-schedulermarker {
    /*text-align: right;*/
    /*margin-top: 5px;*/
    /*right: -8px;*/
    /*text-align: right;*/
    /*top: -3px;*/
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 18px;
    text-align: center;
    background: #000;
    border: 2px solid #ffffff;
}

#block_exacomp .event-schedulermarker.marker_structured {
    background-color: blue;
}

#block_exacomp .event-schedulermarker.marker_free {
    background-color: green;
}

#block_exacomp .event-schedulermarker.marker_orientation {
    background-color: orange;
}

#block_exacomp .event-schedulermarker.marker_feedback {
    background-color: red;
}

#block_exacomp .event-schedulermarker.marker_reflexion {
    background-color: yellow;
}

