
/* 
    Document   : style
    Created on : 03.05.2011, 15:30:25
    Author     : Florian
    Description:
        Purpose of the stylesheet follows.
*/
div#exabis_competences_block {
	
}

td.competenceok {
	background-color: #CCFF99;
}


.ec_firstcol {
	width: 50px;
}

.ec_td_mo {
	width: 100px;
}

.ec_td_mo_auto {
	width: auto;
}

.ec_overflow {
	overflow: auto;
}

.ec_minwidth {
	width: 750px;
}

.ec_tableheadwidth {
	width: 100px;
}

.ec_activitylist_student {
	width: 50px;
}

.ec_heading {
	background-color: #dfdfdf;
}

div#exabis_competences_block .tabtree ul {
	text-align: left;
}

.compstable {
	margin-bottom: 0;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	margin: 20px 0 0;
	width: auto;
}

.block_excomp_center table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

#tdsubmit {
	border: 1px transparent solid;
}

.block_excomp_center .treeview ul { /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
}

.block_excomp_center .treeview li {
	/*Style for LI elements in general (excludes an LI that contains sub lists)*/
	background: white url(../pix/list.gif) no-repeat left center;
	background-image: url([[pix:a/em1_bwgreater]]);
	list-style-type: none;
	padding-left: 22px;
	margin-bottom: 3px;
}

.block_excomp_center .treeview li.submenu {
	/* Style for LI that contains sub lists (other ULs). */
	background: white url(../pix/closed.gif) no-repeat left 1px;
	background-image: url([[pix:i/closed]]);
	cursor: hand !important;
	cursor: pointer !important;
}

.block_excomp_center .treeview li.submenu ul {
	/*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

.block_excomp_center .treeview .submenu ul li {
	/*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}

div.ladebalken {
	width: 425px;
	height: 27px;
}
div.lbmittelwert {
    border-right: 1px solid #000000;
    height: 27px;
}
div.lbmittelwertcontainer {
    height: 27px;
    position: absolute;
    width: 425px;
}
div.spaltenbrowser {margin-top:15px;}